@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  .print-block {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
    display: block !important;
    width: 100% !important;
  }

  .no-print, .no-print * {
    display: none !important;
  }
}
